{{log model}}

<div class="app">
  <nav class="app-nav">
    <div class="container">
      <h1 class="title">New Breweries</h1>
    </div>
  </nav>

  <div class="app-main">
    <div class="container">
      <ul class="brewery-list">
        {{#each model.data as |duck|}}
          {{#if duck.images}}
            <li class="brewery-list__item">
              <div class="brewery-card">
                <div class="logo-frame">
                  <img class="logo" src="{{duck.images.icon}}" alt="">
                </div>
                <div class="brewery-info">
                  <h2 class="brewery-name">{{duck.name}}</h2>
                  <h3 class="brewery-info__sub">Est. {{duck.established}}</h3>
                </div>
              </div>
            </li>
          {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
</div>


{{outlet}}
